body{
  width:100% !important;
}
.poi{
  background-color: #010a28;
  width: 1260;
  height: 100px;
	display: table;
	margin: 0 auto;
  padding-left: 12%;
  padding-top: 2%;
}
.poi a{
align-items: baseline;

}
.abc{
background-color: #010a28;
color: white;
font-size: 30px;
text-align: center;
width: 1430px;
height: 400px;
margin: 0px;
padding: 1px;

}
#pqr{
  height: 40px;
  width: 160px;
  font-size: 17px;
  color: blue;
  cursor: pointer;
}
#epr {
  color: white;
  background-color: #010a28;
  height: 40px;
  width: 160px;
  font-size: 17px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style-type: none;
  display: inline;
  margin-top: 0;
 margin-bottom: 0;
}
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
li {
    float: left;
}
.ds{
  width: 1430px;
}
.dr{
  padding: 1px;
    width: 1430px;
    height: 400px;

}
.re{
  text-align: center;
  opacity: .7;
  font-size: 17px;
  font-family: Source Sans Pro ;
  font-weight: 500;
  padding-top: 100px;
  padding-bottom: 10px;
  letter-spacing: 2px;
}
#avc
{
  height: 100px;
  width: 1100px;
  display: block;
  margin-left: auto;
   margin-right: auto;
   opacity: .40;
}
#avp{
     float: left;
     display: table;
     width: 110px;
     padding: 30px;
}
#red{
  width: 970px;
  margin-left: 250px;
  margin-right: 180px;
}
.ra{
    text-align: center;
    opacity: .7;
    font-size: 17px;
    font-family: Source Sans Pro ;
    font-weight: 500;
    padding-top: 100px;
    padding-bottom: 50px;
    letter-spacing: 2px;
}
#po{
  padding: 80px;
text-align: center;
}
#per{
  text-decoration:none;
  padding: 1px;
  display: inline-block;
  float:inherit;
  font-family: Arial;
}
#po img{
  width:25px;
  margin-top: 1px;
  padding: 1px;
}
#rer{
align-items:center;
}
.rae{
    text-align: left;

    font-size: 17px;
    font-family: Source Sans Pro ;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 50px;
    letter-spacing: 1px;
    padding-left: 30px;
    font-family: Source Sans Pro,sans-serif;
    height:75px;
    margin-left: 650px;
}
#tyr{
  width: 950px;
  margin-left: 300px;
  height: 450px;
  position: relative;
  border:3px solid;
}
#prt p{
width: 575px;
word-spacing: 3px;
font-size: .9rem;
opacity:.5;
line-height: 1.7;
font-family: Source Sans Pro,sans-serif;
font-size: 17px;
float:left;
position: relative;

}
#prt h2{
  opacity:.75;
  position: relative;
}
#rept{
  background-color: blue;
  height: 300px;
  width: 250px;
  border-radius: 3px;
  position:absolute;
  right:00px;
  top:0px;
}
#imgg{
  padding-left:150px;
  padding-top:50px;
  opacity: .5;
}
#trer{
  padding-top: 60px;
  padding-left: 20px;
  color:white;
}
#poit{
  position: absolute;
  padding-top: 200px;
  padding-left: 700px;
  font-size: 13px;
  opacity: .5;
  line-height: 1.7;
  font-family: sans-serif;
}
#reppt{
  background-color: blue;
  height: 300px;
  width: 250px;
  border-radius: 3px;
  right:00px;
  top:0px;
}
#tyyr{
  width: 950px;
  margin-left: 300px;
  height: 450px;
  position: relative;
  border:3px solid;
}
#popit
{
  position: absolute;
  padding-left: 00px;
  font-size: 13px;
  opacity: .5;
  line-height: 1.7;
  font-family: sans-serif;
  width:250px;
}
#prot p{
  width: 575px;
  word-spacing: 3px;
  font-size: .9rem;
  opacity:.5;
  line-height: 1.7;
  font-family: Source Sans Pro,sans-serif;
  font-size: 17px;
  position: relative;
  padding-left: 300px;
  padding-top:0;
  }
  #prot h2{
    opacity:.75;
    position: absolute;
    padding-left: 30px;
    padding-bottom: 100px; 
  }